<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <div th:fragment="menu">
        <div class="menu">
            <ul>
                <li>&nbsp;<a th:href="@{/}">Home</a></li>
                <li>&nbsp;<a th:href="@{/book}">List All Books</a></li>
                <li>&nbsp;<a th:href="@{/book/add}">New Book</a></li>
                <li>&nbsp;<a th:href="@{/freelearningentry}">List All Free Learning Entries</a></li>
                <li>&nbsp;<a th:href="@{/freelearningentry/add}">New Free Learning Entry</a></li>
                <li>&nbsp;<a th:href="@{/freelearningentry/addRaw}">New Free Learning Entry - RAW</a></li>
                <li>&nbsp;<a th:href="@{/book/search}">Search Book</a></li>
                <li>&nbsp;<a th:href="@{/freelearningentry/search}">Search Free Learning Entry</a></li>
            </ul>
        </div>
        <br/>
        <hr/>
    </div>
</html>