<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <div th:replace="fragments/header :: headers"></div>
    <body>
        <div th:replace="fragments/menu :: menu"></div>
        <h3>Book Details</h3>
        <p>The details of the requested book is given below.</p>
        <b>Edit : </b> Click here to <a th:href="@{/book/edit(id=${book.id})}">edit</a> the book.
        <table>
            <thead>
                <th>Field</th>
                <th>Value</th>
            </thead>
            <tbody>
                <tr>
                    <td>Id</td>
                    <td th:text="${book.id}"></td>
                </tr>
                <tr>
                    <td>Title</td>
                    <td th:text="${book.title}"></td>
                </tr>
                <tr>
                    <td>Author(s)</td>
                    <td th:text="${book.authors}"></td>
                </tr>
                <tr>
                    <td>Publication Date</td>
                    <td th:text="${book.publicationDate}"></td>
                </tr>
                <tr>
                    <td>ISBN</td>
                    <td th:text="${book.isbn}"></td>
                </tr>
                <tr>
                    <td>Has Source Code?</td>
                    <td th:text="${book.hasSourceCode}? 'Yes' : 'No'"></td>
                </tr>
                <tr>
                    <td>URL</td>
                    <td>
                        <!--/* Reference:
                        https://blog.bolajiayodeji.com/the-security-vulnerabilities-of-the-target_blank-attribute */-->
                        <a th:href="@{${book.url}}" target="_blank" rel="noopener noreferrer">
                            <span th:text="${book.url}"/>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Remarks</td>
                    <td th:text="${book.remarks}"></td>
                </tr>
                <tr>
                    <td>Created Date</td>
                    <td th:text="${book.createdDate}"></td>
                </tr>
                <tr>
                    <td>Created Date</td>
                    <td th:text="${book.createdBy}"></td>
                </tr>
                <tr>
                    <td>Modified Date</td>
                    <td th:text="${book.modifiedDate}"></td>
                </tr>
                <tr>
                    <td>Modified By</td>
                    <td th:text="${book.modifiedBy}"></td>
                </tr>
            </tbody>
        </table>
        <div th:replace="fragments/footer :: copy"></div>
    </body>
</html>