<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <div th:replace="fragments/header :: headers"></div>
    <body>
        <div th:replace="fragments/menu :: menu"></div>
        <h3>Listing all the Free Learning Entry</h3>
        <p>Below are the set of ebook per day free learning day entries currently available in the repository.</p>
        <table>
            <thead>
                <th>Id</th>
                <th>Order Date</th>
                <th>Book</th>
                <th>Downloaded Source?</th>
                <th>Downloaded Book?</th>
                <th>Duplicate?</th>
                <th>Read Only?</th>
                <th>Survey Gift?</th>
                <th>Remarks</th>
            </thead>
            <tbody>
                <tr th:each="entry: ${entries}">
                    <td class="center">
                        <a th:href="@{/freelearningentry/get(id=${entry.id})}">
                            <span th:text="${entry.id}"/>
                        </a>
                        &nbsp; | &nbsp;
                        <a th:href="@{/freelearningentry/edit(id=${entry.id})}">
                            <span th:text="E"/>
                        </a>
                    </td>
                    <!--<td class="center" th:text="${entry.orderDate}"/>-->
                    <td class="center" th:text="${#dates.format(entry.orderDate,'dd MMM yyyy')}"></td>
                    <td>
                        <a th:href="@{/book/get(id=${entry.book.id})}">
                            <span th:text="${entry.book.title}"/>
                        </a>
                    </td>
                    <td class="center" th:text="${entry.downloadedSource} ? 'Yes' : 'No'"></td>
                    <td class="center" th:text="${entry.downloadedBook}? 'Yes' : 'No'"></td>
                    <td class="center" th:text="${entry.duplicate}? 'Yes' : 'No'"></td>
                    <td class="center" th:text="${entry.readOnly}? 'Yes' : 'No'"></td>
                    <td class="center" th:text="${entry.surveyGift}? 'Yes' : 'No'"></td>
                    <td th:text="${entry.remarks}"></td>
                </tr>
            </tbody>
        </table>
        <div th:replace="fragments/footer :: copy"></div>
    </body>
</html>