<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
    <div th:replace="fragments/header :: headers"></div>
    <body>
        <div th:replace="fragments/menu :: menu"></div>
        <h1>Welcome to Packtpub Daily eBook Repo</h1>
        <p class="notice">
            Message from the controller is : [[ ${message} ]]
        </p>
        <p>
            Click <a href="/book">here</a> to get the list of all books!
        </p>
        <p>
            A Simple Web Application developed using the following Tech Stack to track the Daily eBook given as part of Free Learning by Packtpub.<br/>
            <ul>
                <li>Java 8+</li>
                <li>Spring Core</li>
                <li>Spring Boot</li>
                <li>Spring Data JPA</li>
                <li>Spring DevTools</li>
                <li>H2/MySQL Database</li>
                <li>Thymeleaf</li>
                <li>Intellij IDEA</li>
            </ul>
        </p>
        <div th:replace="fragments/footer :: copy"></div>
    </body>
</html>